* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Tipografia Pacific */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* font-family: 'Pacifico', cursive; */